
.title{


  font-family: Times, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 5px;
  word-spacing: 25px;
  text-align: center;
  color: #1A9504;
}
.logo img{
  display: block;
  width: 200px;
  border-radius: 100px;
  margin: auto;

}
.tag-phrase{
  font-family: Times, serif;
  font-style: normal;
  font-size: 80px;
  text-transform: capitalize;
  color: #1A9504;
  font-weight: bolder;
  float: left;

}
