
.title{


  font-family: Times, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
  word-spacing: 25px;
  text-align: center;
  color: #042D3D;
}
.logo img{
  display: block;
  width: 251px;
  border-radius: 100px;
  margin: auto;

}
.tag-phrase{
  font-family: Times, serif;
  font-style: normal;
  font-size: 80px;
  text-transform: capitalize;
  color: #042D3D;
  font-weight: bolder;
  float: left;
  word-spacing: 15px;
  letter-spacing: 2px;
}
.about-me{
  color: #042D3D;
  float: left;
  letter-spacing: 1px;
  word-spacing: 8px;
}
.column{
  width: 410px;
  float: left;
}
